[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
quest = "FP3ZzVzsZopXXRTiivLqjpDSGVSuytJ5Xy4c4i4P9G7T"
reward = "GwRMN4fNsF8MDPr5qtNH8FUbxoYXduYVrVZMCKghAuoT"
[programs.localnet]
quest = "FP3ZzVzsZopXXRTiivLqjpDSGVSuytJ5Xy4c4i4P9G7T"
reward = "GwRMN4fNsF8MDPr5qtNH8FUbxoYXduYVrVZMCKghAuoT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
